# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# IDE or editor specific files
.idea/
*.o
*.pyc
*.class
.ipynb_checkpoints/
.pytest_cache/
simba/pose_configurations_archive/

# Ignore PyPI build artifacts
dist/
build/
runs/
*.egg-info/
*.egg
*.tar.gz
*.whl
*.pt
*.cursorrules

# dev
simba/sandbox

#local docs build
_build/html/
docs/_build
/docs/_build/
/simba/sandbox/


# ignore recent projects file anywhere
**/.recent_projects.txt
