Pillow
pyyaml == 5.3.1
shapely == 1.8
dtreeviz == 0.8.1
eli5 == 0.10.1
graphviz == 0.11
imblearn == 0.0
imgaug == 0.4.0
imutils == 0.5.2
matplotlib >= 3.0.3
numpy
opencv-python == 3.4.16.59
pandas
scikit-image
scipy
seaborn == 0.9.0
scikit-learn
tabulate == 0.8.3
tqdm == 4.30.0
xgboost == 0.90
yellowbrick
dash == 1.14.0
dash_color_picker == 0.0.1
dash_core_components == 1.10.2
dash_colorscales == 0.0.4
dash_html_components == 1.0.3
h5py
numba
numexpr
plotly == 4.9.0
statsmodels
cefpython3 == 66.0
pyarrow == 6.0.1
shap == 0.35.0
tables>=3.6.1
xlrd==1.2.0
trafaret==2.1.1
geos
ffmpeg-python