pip==21.2.2;python_version=="3.6"
pip==24.0;python_version>="3.9"
setuptools==58.0.4;python_version=="3.6"
setuptools==69.5.1;python_version>="3.9"
Pillow
pyyaml == 5.3.1
shapely == 1.8.0;python_version=="3.6"
shapely;python_version>="3.9"
dtreeviz == 0.8.1
eli5 == 0.10.1
imblearn == 0.0
imgaug == 0.4.0
imutils == 0.5.2
matplotlib == 3.3.4
numpy==1.18.1;python_version=="3.6"
numpy==1.26.4;python_version>="3.9"
opencv-python == 3.4.5.20;python_version=="3.6"
opencv-python;python_version>="3.9"
pandas==0.25.3;python_version=="3.6"
pandas;python_version>="3.9"
scikit-image
scipy
kaleido
seaborn == 0.11.0
scikit-learn
tabulate == 0.8.3;python_version=="3.6"
tabulate == 0.9.0;python_version>="3.9"
tqdm == 4.30.0
xgboost == 0.90
yellowbrick
dash == 1.14.0
dash_color_picker == 0.0.1
dash_core_components == 1.10.2
dash_colorscales == 0.0.4
dash_html_components == 1.0.3
h5py
numba==0.52.0;python_version=="3.6"
numba;python_version>="3.9"
numexpr
plotly == 4.9.0
statsmodels==0.12.0;python_version=="3.6"
statsmodels;python_version>="3.9"
cefpython3 == 66.0
pyarrow == 6.0.1
shap == 0.35.0
tables>=3.6.1
xlrd==1.2.0
trafaret==2.1.1
openpyxl==3.1.2;python_version=="3.6"