/* Load the font */
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply globally */
body {
    font-family: 'Poppins', sans-serif;
}




.simba-table {
    /* Add your CSS rules here */
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    .simba-table th {
    background-color: navy; /* Set background color to navy blue */
    color: white; /* Ensure text is readable with a contrasting color */
    font-weight: bold;
}

}

.simba-table th, .simba-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.simba-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.simba-table tr {
    height: 40px; /* Set a fixed height for each row */
}

.simba-table td {
    vertical-align: middle; /* Align text vertically in the center of cells */
}

/* sphinxcontrib-video: make :align: center actually center the video */
.sphinx-contrib-video-container.align-center {
    text-align: center;
}
.sphinx-contrib-video-container.align-center video {
    display: inline-block;
}
.sphinx-contrib-video-container.align-right {
    text-align: right;
}
.sphinx-contrib-video-container.align-right video {
    display: inline-block;
}
.sphinx-contrib-video-container.align-left video {
    display: inline-block;
}
